<!DOCTYPE html>
<html>
   <style> 
    div{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    </style>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
